<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <link rel='stylesheet' type='text/css' media='screen' href= "{{ url_for('static',filename='style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>My Covid-19 Tester</title>
  </head>
  <body> 

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">My Covid-19 Tester</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
            </li>
          </ul>
          </form>
        </div>
      </nav>


      <div class="container">
          <h2 class="text-center mt-3">My Covid-19 Tester</h2>
          <form action="/" method="POST">
            <div class="form-group">
              <label for="fever">Enter fever Value</label>
              <input type="text" class="form-control" id="fever" name="fever" placeholder="Enter Fever Value">
            </div>

            <div class="form-group">
              <label for="fever">Enter Age Value</label>
              <input type="text" class="form-control" id="age" name="age" placeholder="Enter you Age">
            </div>
             
            <div class="form-group">
              <label for="pain">Body Pain</label>
              <select  class="form-control custom-select" name="pain" id="pain">
                <option value="-1">No Pain</option> 
                <option value="0">little Pain</option> 
                <option value="1">Severe Pain</option>
              </select>
            </div>
            <div class="form-group">
              <label for="runnyNose">Runny Nose</label>
              <select  class="form-control custom-select" name="runnyNose" id="runnyNose">
                <option value="0">yes</option> 
                <option value="1">No</option> 
              </select>
            </div>
            <div class="form-group">
              <label for="diffBreath">Breathing Difficulty</label>
              <select  class="form-control custom-select" name="diffBreath" id="diffBreath">
                <option value="-1">No Difficulty</option> 
                <option value="0">Little Difficulty</option> 
                <option value="1">Severe Difficulty</option> 
              </select>
            </div>
            <div class="form-group">
              <label for="tiredness">Tiredness</label>
              <select  class="form-control custom-select" name="tiredness" id="tiredness">
                <option value="-1">No Difficulty</option> 
                <option value="0">Little Difficulty</option> 
                <option value="1">Severe Difficulty</option> 
              </select>
            </div>
            <div class="form-group">
              <label for="chestPain">Chest Pain/Pressure</label>
              <select  class="form-control custom-select" name="chestPain" id="chestPain">
                <option value="-1">No Difficulty</option> 
                <option value="0">Little Difficulty</option> 
                <option value="1">Severe Difficulty</option> 
              </select>
            </div>
            <div class="form-group">
              <label for="dryMouth">Dry Mouth</label>
              <select  class="form-control custom-select" name="dryMouth" id="dryMouth">
                <option value="-1">No</option> 
                <option value="0">yes</option> 
              </select>
            </div>
            <div class="form-group">
              <label for="breathHold">Breath Hoalding Capacity</label>
              <select  class="form-control custom-select" name="breathHold" id="breathHold">
                <option value="3">3 Sec</option> 
                <option value="4">4 Sec</option> 
                <option value="5">5 Sec</option> 
                <option value="6">6 Sec</option> 
                <option value="7">7 Sec</option> 
                <option value="8">8 Sec</option> 
                <option value="9">9 Sec</option> 
                <option value="10">10 Sec</option> 
                <option value="11">11 Sec</option> 
                <option value="12">12 Sec</option> 
                <option value="13">13 Sec</option> 
                <option value="14">14 Sec</option> 
                <option value="15">15 Sec</option> 
                <option value="16">16 Sec</option> 
                <option value="17">17 Sec</option> 
                <option value="18">18 Sec</option> 
                <option value="19">19 Sec</option> 
                <option value="20">20 Sec</option> 
                <option value="21">21  Sec Or More</option> 
              </select>
            </div>

         
            <button class="btn btn-success">Submit</button>
          </form>
      </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.sec1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/poppersec.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>